.options-wrap{
    display: flex;
    flex-wrap: wrap;
}

.options-wrap .table-wrap{
    width: 75%;
    margin-bottom: 20px;
    max-width: 500px;
}

.options-wrap .banner-wrap{
    width: 24.99999%;
    max-width: 270px;
}

.options-wrap .banner-wrap img{
    width: 100%;
    height: auto;
}
/* mobile */

@media (max-width: 767px){
    .options-wrap .table-wrap{
        width: 100%;
    }

    .options-wrap .banner-wrap{
        width: 100%;
    }
}